.game-sort{
  padding: 40px;
  .sort-item{
    height: 90px;
    line-height: 90px;
    background:#3B8DFF;
    border-radius: 10px;
    font-size: 36px;
    color: #fff;
    text-align: center;
  }
  .sort-item + .sort-item{
    margin-top: 40px;
  }
}